{% extends "layout.html" %}

{% block body %}
<h1>Kirjaudu</h1>
{{ error }}
<form method="POST" action="{{ url_for('auth_login') }}">
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control", placeholder="Käyttäjätunnus") }}
            <ul>
            {% for error in form.username.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(class_="form-control", placeholder="Salasana") }}
            <ul>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    </div>
    <button type="submit" class="btn btn-primary">Kirjaudu</button>  
</form>
{% endblock %}