{% extends "layout.html" %}

{% block body %}
{{ error }}
<h1 class="dispaly-1">Vaihda salasana</h1>
<form method="POST" action="{{ url_for('auth_modify', account_id=current_user.id) }}">
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control", placeholder="Uusi salasana") }}
            <ul>
            {% for error in form.password.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    </div>
    <div>
        {{ form.confirm.label }}
        {{ form.confirm(class_="form-control", placeholder="Toista uusi salasana") }}
            <ul>
            {% for error in form.confirm.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
    </div>
    <input type="submit" class="btn btn-primary" value="Vaihda salasana"/>  
</form>
{% endblock %}