{% extends "layout.html" %}

{% block body %}
<h1 class="display-2 text-center"> {{ account.username }}</h1>
<div class="container">
    <div class="row justify-content-start">
        <div class="col-5">
            <p class="lead"> Koko nimi: {{account.name}}
            </p>

        </div>

        {% if account.is_admin() %}
        <div class="col-3">
            <div class="alert alert-primary text-center" role="alert">
                ADMIN
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">
                Sähköpostiosoite: {{ account.email }}



            </p>
        </div>
    </div>
</div>

{% if current_user.is_authenticated and (current_user.id == account.id or current_user.is_admin())%}
{{ error }}

<form method="POST" action="{{ url_for('auth_profile', account_id=account.id) }}">
    <div class="form-group row">
        <h1 class="display-6">Vaihda salasana</h1>
    </div>
    {% if e == 1 %}
    <div class="form-group row">
        <div class="alert alert-success text-center" role="alert">
            <p class="lead"><small>Salasana vaihdettu onnistuneesti</small></p>
        </div>
    </div>
    {% endif %}
    <div class="form-group row">
        {{ form.password.label }}
        {{ form.password(class_="form-control", placeholder="Uusi salasana") }}
        <ul>
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group row">
        {{ form.confirm.label }}
        {{ form.confirm(class_="form-control", placeholder="Toista uusi salasana") }}
        <ul>
            {% for error in form.confirm.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group row">
        <input type="submit" class="btn btn-primary" value="Vaihda salasana" />
    </div>
</form>

<form method="POST" action="{{ url_for('auth_delete', account_id=account.id) }}">
    <div class="form-group row">
        <input type="submit" class="btn btn-danger" value="Poista käyttäjä" />
    </div>
</form>

{% endif %}

{% if products is defined and products[0] is defined %}

<h1 class="display-6">
    <span style="color:blue;font-weight:bolder">{{ account.username }} </span>tuotteet
</h1>

{% for product in products %}

{% include "products/one.html" %}

{% endfor %}
{% else %}
<div class="alert alert-info text-center" role="alert">
    <p class="lead">Käyttäjällä ei ole tuotteita</p>
</div>
{% endif %}
{% endblock %}