{% extends "layout.html" %}

{% block body %}

    
    {% for product in products %}
        <div class="card mb-3" style="width: 20rem;">
            <div class="card-header">
                Myyjä: {{ get_account(product.account_id).username }}
            </div>
            <div class="card-body">
                    
            <h4 class="card-title">
                    <a href="{{  url_for('product_index', product_id = product.id) }}"> {{product.name}} </a></h4>
            <h6 class="card-subtitle mb-2 text-muted">Tämän hetkinen hinta: {{ product.price }}</h6>
            <p>{{ product.description }}</p>
        </div>
        </div>
        

    {% endfor %}
  
{% endblock %}