{% extends "layout.html" %}

{% block body %}

<h1 class="display-1">Tuotteet:</h1>
    
<h1 class="display-6">Etsi tuotteen nimen perusteella</h1>
<form method="POST" action="{{ url_for('products_search') }}">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label class="sr-only" for="inlineFormInput">Hakusana</label>
            <input type="text" class="form-control mb-2" name="name" id="inlineFormInput" placeholder="Hakusana">
        </div>
        <div class="col-auto">
            <input type="submit" class="btn btn-primary mb-2" value="Hae"/>
        </div>
    </div>
</form>

    {% for product in products %}

        {% include "products/one.html" %}

    {% endfor %}
  
{% endblock %}